.posts-list {

}
	.posts-list__post {
		margin-bottom: 1rem;
	}
	.posts-list__title,
	.post__title {
		margin: 0 0 5px 0;

		font-size: 1.6rem;
		font-weight: 700;

		> a {
			color: #333;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.posts-list__date,
	.post__date {
		text-transform: uppercase;
		font-size: 0.75rem;
		font-weight: 500;
		color: #000;
	}

.post {

}
	.post__body {
		font-size: 1rem;
		line-height: 1.6rem;

		.highlight,
		p > code {
			max-width: 100%;
			overflow: auto;

			background-color: #f5f5f5;
			border: 1px solid #ccc;
			border-radius: 4px;
			padding: 5px;
			line-height: 1rem;
		}
	}
	.post__note {
		color: #ccc;
		font-style: italic;
		line-height: 1.6rem;

		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		padding: 10px 0;
		margin: 20px 0;
	}
	.post__comments-title {
		font-size: 1.5rem;
		font-weight: 700;
	}